li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-content {
    width: 100%;
    display: flex;
    background-color: white;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10vw;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1em;
    align-items: end;
}

.nav-links a {
    color: black;
    font-family: serif;
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 10px;
}