.heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: #009dff;
}

.container {
    width: 80%;
    margin: auto;
}

.view-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.view-table th, .view-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.view-table th {
    background-color: #00228157;
    text-align: center;
}

.view-table img {
    max-width: 100px;
    height: auto;
}

.view-table input[type="text"],
.view-table input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    text-align: center;
}

.view-table input[type="submit"] {
    background-color: #4c90af;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.view-table a {
    display: inline-block;
    background-color: #f4a236;
    color: #fff;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.view-table a:hover,
.view-table input[type="submit"]:hover {
    background-color: #d32f2f;
}
