@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;

}

/* body{
    display: flex;
    align-items: center;
    justify-content: center;

} */


h1{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 75px;
}

.form {
    /* margin-top: 1rem; */
    background-color: rgba(0, 0, 255, 0.414);
    background-size: cover;
    padding: 20px;
    /* padding-top: 50px; */
    border-radius: 8px;
    border-bottom: 0 0 15px black;
    position: sticky;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;

}

.input-box label {
    color: black;

}

.form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: black;
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .genter-box {
    margin-top: 20px;
}

.genter-box h3 {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form .genter-option {
    display: flex;
    align-items: center;
    column-gap: 50px;

}

.form .genter {
    column-gap: 5px;
}

.form :where(.genter input, .genter label) {
    cursor: pointer;
}

.address :where(input) {
    margin-top: 15px;
}

.form .Courses {
    position: relative;
    height: 50px;
    width: 50%;
    /* outline: none; */
    margin-top: 15px;
    border-radius: 6px;
    font-size: 1rem;
    color: black;

}

.Courses select {
    height: 75%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid lightgray;

}

.form button {
    height: 50px;
    width: 100px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .genter-option {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        display: flex;
        flex-wrap: wrap;
    }

}